<div id="<%= dom_id game %>">
  <p>
    <strong>Location:</strong>
    <%= game.location %>
  </p>

  <p>
    <strong>Num items:</strong>
    <%= game.num_items %>
  </p>

  <p>
    <strong>Time limit:</strong>
    <%= game.time_limit %>
  </p>

  <p>
    <strong>Penalty:</strong>
    <%= game.penalty %>
  </p>

  <p>
    <strong>Scoring mode:</strong>
    <%= game.scoring_mode %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= game.uuid %>
  </p>

</div>
