<div id="<%= dom_id submission %>">
  <p>
    <strong>Player:</strong>
    <%= submission.player_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= submission.item_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= submission.photo %>
  </p>

  <p>
    <strong>Correct:</strong>
    <%= submission.correct %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= submission.points %>
  </p>

</div>
