<div id="<%= dom_id player %>">
  <p>
    <strong>Game:</strong>
    <%= player.game_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= player.admin %>
  </p>

  <p>
    <strong>Total score:</strong>
    <%= player.total_score %>
  </p>

</div>
